/* banner section style */

.banner-image img {
    width: 100%;
    position: relative;
}

.banner-image .banner-content {
    position: absolute;
    left: 700px;
    bottom: 100px;
}

.banner-content h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Work Sans';
    color: white;
}

.banner-content p {
    width: 60%;
    font-family: 'Work Sans';
    padding-bottom: 10px;
    color: white;
}

.banner-content button {
    width: 128px;
    height: 52px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 95, 172);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Work Sans';
    margin-left: 200px;
}

/* failure section style */

.failure {
    display: flex;
    gap: 80px;
    margin: 180px 80px 0px 80px;
}

.failure img {
    width: 500px;
    height: 650px;
}


.failure-content h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans';
    color: rgb(21, 20, 20);
    margin-top: 180px;
}

.failure-content p {
    width: 80%;
    line-height: 24px;
    font-family: 'Work Sans';
}

.failure-bullet-point {
    line-height: 32px;
    font-family: 'Work Sans';
}

/* plan section style */
.plan h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans';
    text-align: center;
    color: rgb(21, 20, 20);
    margin-top: 180px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 60px 80px;
}

.plan-container div {
    width: 300px;
    height: 190px;
    font-family: 'Work Sans';
    text-align: center;
}

.plan-container h4 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(21, 20, 20);
}

.plan-container p {
    font-size: 25px;
    font-weight: 500;
    color: rgb(115, 114, 114);
}

/* poster section style */

.poster img {
    width: 1100px;
    margin: 100px 70px;
    position: relative;
}

.poster .poster-gradient {
    position: absolute;
    right: 20px;
}

.poster .poster-content {
    position: absolute;
    top: 2150px;
    left: 130px;
}

.poster h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans';
    color: white;
}

.poster button {
    width: 128px;
    height: 52px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 95, 172);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Work Sans';
}

/* footer style */
.footer {
    margin-top: 80px;
    height: 500px;
    background-color: black;
    color: white;
    font-family: 'Work Sans';
    position: relative;
}

.footer-content {
    padding-top: 100px;
    padding-left: 180px;
}

.footer-content h2 {
    font-size: 40px;
}

.footer-content p {
    width: 40%;
}

.footer-content .icon {
    display: flex;
    gap: 20px;
}

.icon i {
    font-size: 32px;
    border-radius: 40px;
}

.footer-subscription {
    position: absolute;
    left: 800px;
    bottom: 200px;
}

.footer-subscription p {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Work Sans';
}

.footer-subscription form {
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
}

.footer-subscription button {
    margin-top: 12px;
    width: 140px;
    height: 52px;
    border-radius: 6px;
    background: rgb(0, 95, 172);
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/* responsive media query */
.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    .banner-content,
    .failure,
    .plan-container {
        flex-direction: column;
    }

    .banner-image img {
        width: 120%;
        position: relative;
    }

    .banner-image .banner-content {
        position: absolute;
        left: 220px;
        bottom: 360px;
    }

    .banner-content h2 {
        font-size: 10px;
        font-weight: 600;
        font-family: 'Work Sans';
        color: white;
    }

    .banner-content p {
        width: 100%;
        font-family: 'Work Sans';
        font-size: 6px;
        color: white;
    }

    .banner-content button {
        width: 60px;
        height: 20px;
        border-radius: 5px;
        border: none;
        color: rgb(0, 95, 172);
        font-size: 6px;
        font-weight: bold;
        font-family: 'Work Sans';
        position: absolute;
        right: 40px;
    }

    .failure img {
        width: 300px;
        height: 350px;
    }

    .failure-content h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .failure-content p {
        width: 300px;
        color: rgb(21, 20, 20)
    }

    .failure-bullet-point {
        font-size: 16px;
        font-weight: 400;
        width: 240%;
        color: rgb(21, 20, 20)
    }

    .plan h2 {
        font-size: 24px;
        padding-left: 90px;
        margin-top: 92px;
    }

    .plan-container {
        padding-right: 40px;
    }

    .poster img {
        width: 310px;
        height: 120px;
        position: relative;
    }

    .poster .poster-gradient {
        position: absolute;
        top: 2360px;
        left: 6px;
    }

    .poster .poster-content {
        position: absolute;
        top: 2480px;
        left: 100px;
    }

    .poster h2 {
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Work Sans';
        color: white;
    }

    .poster button {
        width: 72px;
        height: 24px;
        border-radius: 5px;
        border: none;
        color: rgb(0, 95, 172);
        font-size: 10px;
        font-weight: bold;
        font-family: 'Work Sans';
    }

    .footer {
        width: 1200px;
        height: 700px;
        position: relative;
    }

    .footer-content {
        padding-top: 20px;
        padding-left: 100px;
    }

    .footer-content p {
        width: 220px;
    }

    .footer-subscription {
        position: absolute;
        top: 400px;
        left: 100px;
    }

    .footer-subscription form {
        width: 200px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 16px;
        font-size: 16px;
    }

}